language: node_js
node_js:
- 0.12.4
sudo: false
after_success:
- npm run report-coverage
- '[ "$TRAVIS_SECURE_ENV_VARS" = "true" ] && npm run publish:cdn'
deploy:
  provider: npm
  email: d2ltravisdeploy@d2l.com
  api_key:
    secure: sgujRlTRG58yHqxlKFItHWg0LmIdDG/eB93E6cXYQ71wuo1sfC5yxj1ByP7P7o+wUWT6Awqck7dUGdhTXsp9ZtDshIWPZVcUL2Gc1QqJ1oHxt9UAt70RfIVizOoP7mgnMgk3NxPH7C4nNt0pNJAtNS2tCkL0loSJ7jDbBiLDtLUuyoFPq1dBFf++8EixWDCbvg6ybvgeYOHIAMAXUbNxjm1zF1gsUm/m0AB7/kZKiAq6d/N6AFFInb/Ee3FOb5opQuJT6i9bN6ocPN8oV9AXs0IW1DyayZGrs/VdvC+WyuIkQXyIVlzmQ+DrxQq6OeWmSpbCzyzp9hes3hwWhDGe0TR7fv0p9bqZa90a3ZEyRxIHjedwvWo+3PDOc+jrWj+stY4yOGcNMSl9AS3GhvbbuOEWfB48XKD3OF//GzgIXGtYJOeKV+bQsF0n4LEas0cyYC//pfLL1O3t4PJT4JPsG5GhDc3d9m4dWXqNGBcN3x8AQ0QzQZFNT56diK4aimt29wlLG9o7JJJTeF4RQTpeFDII9vNMrYawG9FUJ7i63rgMvK2bi5JYQt6j57fFebPLl5mxQAZM574fcfmHJq4IW9NxRvai8GtMCXcS3VAUbQzX8n2eN7PjbGU+KKyWdITJ68WphXfitxB1v+iq+bgn8gTOzGxvfVGaXjndUBzHlTU=
  on:
    tags: true
    repo: Brightspace/ifrau
env:
  global:
  - secure: oxTm4oaZO4sKzoNEcGUJ0OO0TonOlS30AFXEBs1IC4f2TShLxTfFrooh6LK7ceIBDXYJGrIZ8uw9GhnDygHreNTm+ild0tD/pWt7wXuSRGS8oWvnuMH8K/x5/vi6NKXqsYjIqMoPdWj0M4uBVuIgrsXOvV+oGkPf7YyUuXsM4EBJUe913QqIZV8FY0zfosAmu8IAW/VFveL5DyeSocqWpef19UFW9GQJ5aCB2Aikwi5u514pWqZBPBQMTPwOf+MwC00H7vkct9Oa5k1uKj+ukg91qKtPRRHzKBCJ92OEMqtOiIZS+6wIjJz7rt+zH9/o46HNtFq+w7Jk8CjH35rTyAAkzdRTm2TOFZ53N+LGZKl8GdMTppJj1o+2GsCC/LC0S92HFFvinmVf99wh0YAohV+CQN25c0+hXUJmRkncLslrBIGgknUpbKJiAXbz1CAD8j443M+z102JrcadB6Ufu4joMPaeyaK/EAP5bCSeqhNEhEY+FGlZViZAj64otUdkeCnSocL9htRyVS8MxF3q/DjfLvPEc4sSW8lqkIXtp6Bk1lFYpBOxmvzgsqQOyqjcyu3uX/OSpfqGqEwndGmbLa/X4n2u2twA64tnHJNdxVKCGXeHS4SWYEaGZSlolAkn6AzjhP2YLmanWEO0zQiM6gH0XTE9kLLDgZB1o8P0WaY=
  - secure: lKYQCvWeazthNfT9OST2mnEDPVrt4BJau9K8a/EYRkdSFkog1gGCWGHMlK3SJcRVJSoytM+8/9W4N4ZF4kPO5B+9mPZiacLIJ4POtBLU5+ilW5h0OjXLqW68Focm2wU1TGfeQ+wQiRGRCc5Fz/W4yxEYIkhh7WF23VIm8SKzJpdDNRh4rD2eRlZxYCpsJvVKmCuwulZFx7/nkmAScnMPkLy5CjKh4VGLoAe6MGk+65RaSRIxh3qucamWo40TdNACsCZFJ5pk7VClDLbkYLtyKX5hHKd7bLCPwT17mJf0RigskA3102rV+uLZ3sUWKdXi086GGq/GiYryiOp87sVrg/9Pqj8y79CdiHtLHUjoteqhqCnJpEn77zsxx+opMvoii2hxMH3suLqF/0IotomOxYLZIZOuSe39sBZzk28jqCz81E2ucuUd1wzDn8Yqcikl7p8p6pdOJoF/E+Hn2zC4wkKUGLOohJWZKo3aHBR5jvj5JYNRTkAYLsp2kuHCUb9xuRwOG9+kE/62g2Ho7TS6WTZ8mxOBzE84Ov663fj6qYCSVduP9xXnwdMhzVeEoI51qKD6akP7F9VNR61mWKgn5xJsZ1D5G/q5kL0o6Ck5PKGlI9usuojIeTlZcFIsbaseUQMi+eBHntFRQDDp4No0laDBdKZCMiqqxDxPQXuaLTA=
